body {
  background-color: black;
  color: aqua;
  font-family: monospace;
  padding: 1rem;
}

pre {
  text-align: center;
  font-weight: 900;
  font-size: .5vh;
}

#screenContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 2.5rem auto;
  overflow: hidden;
  width: fit-content;
  height: fit-content;
}

section {
  max-width: 20rem;
  margin: 0 auto;
}

b {
  text-decoration: underline;
  color: white;
}

@media only screen and (max-width: 300px) {
  pre {
    font-size: .35vh;
  }

}