body {
  background-color: black;
  color: aqua;
  margin: 5% 35%;
  font-family: monospace;
  font-size: 1vw;
}

.ascii-monitor {
  font-size: 0.25vw;
  text-align: center;
  font-weight: 900;
}

b {
  text-decoration: underline;
}

@media only screen and (max-width: 1600px) {
  body {
    margin: 5% 25%;
    font-size: 1.5vw;
  }
}

@media only screen and (max-width: 1200px) {
  body {
    margin: 5% 20%;
    font-size: 2.5vw;
  }

  .ascii-monitor {
    font-size: 0.5vw;
  }
}

@media only screen and (max-width: 600px) {
  body {
    margin: 5%;
    font-size: 4.5vw;
  }

  h1 {
    font-size: 10vw;
  }

  .ascii-monitor {
    font-size: 0.75vw;
  }
}
